@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="templateProject" ng-strict-di>
<head>
    <meta charset="utf-8"/>
    <title>TemplateProject</title>

    <link href="~/favicon.ico" rel="icon">
    <link href="~/dist/app.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home" class="navbar-brand">TemplateProject</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="page-container">
            <ui-view></ui-view>
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - TemplateProject</p>
        </footer>
    </div>

    <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
</div>
</body>
</html>