@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TemplateProject</title>

    <link href="~/favicon.ico" rel="icon">
    <link href="~/dist/app.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <my-app>Загрузка...</my-app>

    <script src="~/dist/polyfills.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
</body>
</html>

@*<!DOCTYPE html>

<html ng-app="templateProject" ng-strict-di>
<head>
    <meta charset="utf-8"/>
    <title>TemplateProject</title>

    <link href="~/favicon.ico" rel="icon">
    <link href="~/dist/app.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
<div>
    <ui-view></ui-view>

    <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

    <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
</div>
</body>
</html>*@