<div ng-if="vm.isLoading">
    <app-spinner></app-spinner>
</div>
<div ng-if="!vm.isLoading">
    <h3>ToDo items</h3>
    <div class="app-todo-index-page__new">
        <a href
        ng-click="vm.onAddButtonClicked()">
            New&nbsp;<i class="fa fa-plus"></i>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="app-items-table__buttons-column">
                    <a href
                       ng-click="vm.onEditButtonClicked(item)">
                        Edit&nbsp;<i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td class="app-items-table__buttons-column">
                    <a href
                       ng-click="vm.onDeleteButtonClicked(item)">
                        Delete&nbsp;<i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>