body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* App css */
.page-container {
    padding: 10px 0;
}

.app-row {
    width: 100%;
}

.app-row:after {
    /* Clear float */
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    content: ".";
    font-size: 0;
}

.app-col {
    float: left;
}

.app-col-10ps {
    width: 10%;
}

.app-col-90ps {
    width: 90%;
}

.app-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}