<div ng-if="!vm.isConnected()">
    <app-spinner></app-spinner>
</div>

<div ng-if="vm.isConnected()">
    <div class="form-inline">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="vm.user">
        </div>
        <div class="form-group">
            <label>Message</label>
            <input type="text" class="form-control" ng-model="vm.messageText">
        </div>
        <button type="button"
                class="btn btn-primary"
                ng-click="vm.onSendUsingApiButtonClicked()">
            Send using API method
        </button>
        <button type="button"
                class="btn btn-primary"
                ng-click="vm.onSendUsingSignalrConnectionButtonClicked()">
            Send using signalr connection
        </button>
    </div>

    <hr/>

    <div ng-repeat="message in vm.messages">
        {{message.user}}:&nbsp;{{message.text}}
    </div>
</div>