<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="./home">
      <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      <%= projectName %>
    </a>

    <button class="navbar-toggler" type="button" (click)="isNavbarNavCollapsed = !isNavbarNavCollapsed"
            [attr.aria-expanded]="!isNavbarNavCollapsed" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavAltMarkup" class="collapse navbar-collapse" [ngbCollapse]="isNavbarNavCollapsed">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" routerLink="./home">Home</a>
            <a class="nav-item nav-link" routerLink="./todo/index">Todo</a>
            <a class="nav-item nav-link" routerLink="./examples">Examples</a>
            <a class="nav-item nav-link" routerLink="./about">About</a>
        </div>
        <div class="navbar-nav" ngbDropdown display="dynamic">
            <a role="button" class="nav-item nav-link dropdown-toggle app-user-dropdown-toggle" tabindex="0" title="{{username}}"
               ngbDropdownToggle>
                <span class="app-text app-username">{{username}}</span>
            </a>
            <div ngbDropdownMenu>
                <a *ngIf="isGotoAdminLinkVisible" href class="dropdown-item" routerLink="/administration">
                    <i class="fa fa-lock"></i>&nbsp;Go to administration
                </a>
                <a href class="dropdown-item" routerLink="./user-settings">
                    <i class="fa fa-cog"></i>&nbsp;Settings
                </a>
                <a href class="dropdown-item" (click)="onSignOutClicked()">
                    <i class="fa fa-sign-out-alt"></i>&nbsp;Sign out
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="m-4">
    <router-outlet></router-outlet>
</div>