.app-error-dialog__buttons {
    padding: 10px 15px;
    text-align: center;
}

.app-error-dialog__body {
    padding: 5px 15px;
}

.app-error-dialog__icon {
    text-align: center;
    font-size: 48px;
    color: #d9534f;
}

.app-error-dialog__text {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
}