<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console"
            name="console"
            layout="[${date:format=dd.MM.yyyy} ${time}][${level:uppercase=true}][${callsite} Line: ${callsite-linenumber}] ${message} ${when:when=(level >= LogLevel.Error):inner=${newline}${exception:format=tostring}${newline}${newline}}"
    />

    <target xsi:type="File"
            name="file"
            layout="[${date:format=dd.MM.yyyy} ${time}][${level:uppercase=true}][${callsite} Line: ${callsite-linenumber}] ${message} ${when:when=(level >= LogLevel.Error):inner=${newline}${exception:format=tostring}${newline}${newline}}"
            fileName="logs/app.log"
            keepFileOpen="false"
            encoding="utf-8"
            archiveOldFileOnStartup="true"
            archiveNumbering="Rolling"
            maxArchiveFiles="10" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!-- WARNING: If you log verbosely, setting a log level less than Info can cause the console to hang -->
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- Log sql queries -->
    <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="file" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Debug" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>