<div>
        <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <label class="control-label" for="old-password">Old password</label>
                        <input type="password" class="form-control" id="old-password" placeholder="Old password" [formControl]="oldPasswordControl"
                               [ngClass]="{'is-invalid': oldPasswordControl.invalid && (oldPasswordControl.dirty || oldPasswordControl.touched)}">
                        <div *ngIf="oldPasswordControl.invalid && (oldPasswordControl.dirty || oldPasswordControl.touched)">
                            <div *ngIf="oldPasswordControl.errors.required" class="text-danger">
                                Old password is required.
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" placeholder="New password" [formControl]="newPasswordControl"
                           [ngClass]="{'is-invalid': newPasswordControl.invalid && (newPasswordControl.dirty || newPasswordControl.touched)}">
                    <div *ngIf="newPasswordControl.invalid && (newPasswordControl.dirty || newPasswordControl.touched)">
                        <div *ngIf="newPasswordControl.errors.required" class="text-danger">
                            Password is required.
                        </div>
                        <div *ngIf="newPasswordControl.errors.minlength" class="text-danger">
                            Password must be at least 4 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirm-new-password">Confirm new password</label>
                    <input type="password" class="form-control" id="confirm-new-password" placeholder="Confirm new password"
                           [formControl]="confirmNewPasswordControl" [ngClass]="{'is-invalid': confirmNewPasswordControl.invalid && (confirmNewPasswordControl.dirty || confirmNewPasswordControl.touched)}">
                    <div *ngIf="confirmNewPasswordControl.invalid && (confirmNewPasswordControl.dirty || confirmNewPasswordControl.touched)">
                        <div *ngIf="confirmNewPasswordControl.errors.confirmPassword" class="text-danger">
                            {{confirmNewPasswordControl.errors.confirmPassword}}
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="passwordChangeForm.invalid">
                        Save
                    </button>
                </div>
            </form>
</div>