<div class="card app-register-form">
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h3>Register</h3>

            <div class="form-group">
                <label class="control-label" for="email">Email address</label>
                <input type="text" class="form-control" id="email" placeholder="Email address" [formControl]="emailControl"
                       [ngClass]="{'is-invalid': emailControl.invalid && (emailControl.dirty || emailControl.touched)}">
                <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
                    <div *ngIf="emailControl.errors.required" class="text-danger">
                        Email is required.
                    </div>
                    <div *ngIf="emailControl.errors.email" class="text-danger">
                        Email is invalid.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="username">User name</label>
                <input type="text" class="form-control" id="username" placeholder="User name" [formControl]="userNameControl"
                       [ngClass]="{'is-invalid': userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)}">
                <div *ngIf="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)">
                    <div *ngIf="userNameControl.errors.required" class="text-danger">
                        User name is required.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" [formControl]="passwordControl"
                       [ngClass]="{'is-invalid': passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)}">
                <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">
                    <div *ngIf="passwordControl.errors.required" class="text-danger">
                        Password is required.
                    </div>
                    <div *ngIf="passwordControl.errors.minlength" class="text-danger">
                        Password must be at least 4 characters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="confirm-password">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password"
                       [formControl]="confirmPasswordControl" [ngClass]="{'is-invalid': confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)}">
                <div *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)">
                    <div *ngIf="confirmPasswordControl.errors.confirmPassword" class="text-danger">
                        {{confirmPasswordControl.errors.confirmPassword}}
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>