<div *ngIf="isLoading" class="app-loading-form">
    <h3 class="text-center">
        Application is loading...
    </h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated app-progress-dialog__progress-bar" style="width: 100%">

        </div>
    </div>
</div>

<div *ngIf="!isLoading">
    <router-outlet></router-outlet>
</div>

<app-panel-page-centered *ngIf="isError"
                         title="Application loading error"
                         text="Sorry, a error occurred during application loading. Try again later."
                         [iconType]="IconType.Error">
</app-panel-page-centered>

<footer class="footer border-top">
    <div class="ml-4">
        <span class="text-muted">Template Project © 2018</span>
    </div>
</footer>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>