.overlay-container {
    position: relative; /* Fixes overlay spinner positioning and size */
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    background: white;
    z-index: 900;
}

.overlay-spinner {
    position: relative;
    top: 45%;
    margin: auto;
}