.app-error-dialog__buttons {
    padding: 10px 15px;
    text-align: center;
}

.app-error-dialog__body {
    padding: 5px 15px;
}

.app-error-dialog__icon {
    text-align: center;
    color: #d9534f;
    font-size: 48px;
}

.app-error-dialog__text {
    padding: 5px;
    padding-top: 20px;
}